body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif; }

body .badge {
  font-size: 18px;
  background: red;
  float: right; }

body .md-char-counter {
  display: none; }

body .md-sidenav-left {
  position: fixed;
  background: #337ab7; }

body .md-sidenav-left a {
  color: inherit; }

body .md-sidenav-left a:hover {
  text-decoration: none; }

body .md-sidenav-left .md-theme-indigo {
  height: 75px; }

body .md-sidenav-left:not(.md-closed) .md-theme-indigo {
  height: 75px;
  padding: 5px 0;
  border-bottom: 2px solid;
  background: #337ab7; }

body .md-sidenav-left:not(.md-closed) .md-theme-indigo .logo-globalconnect {
  margin-left: 5px;
  color: #fff; }

body .md-sidenav-left:not(.md-closed) .md-theme-indigo .logo-globalconnect i {
  color: #fff; }

body .md-sidenav-left:not(.md-closed) .md-theme-indigo .logo-globalconnect i:first-child {
  left: 6px;
  top: -20px; }

body .md-sidenav-left:not(.md-closed) .md-theme-indigo .logo-globalconnect i:nth-child(2) {
  font-size: 50px;
  top: 6px; }

body .md-sidenav-left:not(.md-closed) .md-theme-indigo .logo-globalconnect i:nth-child(3) {
  right: 5px; }

body .md-sidenav-left:not(.md-closed) .md-theme-indigo .logo-globalconnect .company-name {
  position: relative;
  font-size: 22px;
  width: 40px;
  font-weight: 800;
  display: inline-block; }

body .md-sidenav-left:not(.md-closed) .md-theme-indigo .glyphicon-remove {
  position: absolute;
  right: 20px;
  top: 30%;
  font-size: 25px;
  cursor: pointer; }

body .md-sidenav-left:not(.md-closed) .md-theme-indigo .glyphicon-menu-hamburger {
  display: none; }

body .md-sidenav-left.md-closed {
  display: block;
  transform: translate3d(-80%, 0, 0); }

body .md-sidenav-left.md-closed .menu {
  padding-right: 12px; }

body .md-sidenav-left.md-closed .menu li {
  position: relative; }

body .md-sidenav-left.md-closed .menu li i {
  left: 92%; }

body .md-sidenav-left.md-closed .menu li span {
  display: none; }

body .md-sidenav-left.md-closed .menu li .badge {
  display: block;
  position: absolute;
  right: -5px;
  top: 10px;
  font-size: 12px; }

body .md-sidenav-left.md-closed .md-theme-indigo {
  border-bottom: 2px solid;
  background: #337ab7; }

body .md-sidenav-left.md-closed .md-theme-indigo .glyphicon-menu-hamburger {
  position: absolute;
  right: 20px;
  top: 30%;
  font-size: 25px;
  cursor: pointer; }

body .md-sidenav-left.md-closed .md-theme-indigo .glyphicon-remove {
  display: none; }

body .md-sidenav-left md-content {
  background: #337ab7; }

body .md-sidenav-left md-content ul {
  margin-top: 40px;
  padding: 0 20px; }

body .md-sidenav-left md-content ul li {
  color: white;
  font-size: 20px;
  padding: 15px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  position: relative; }

body .md-sidenav-left md-content ul li:hover {
  font-size: 22px; }

body .md-sidenav-left md-content ul li i {
  margin-right: 10px; }

body nav.navbar {
  height: 75px;
  padding: 15px 0;
  margin-bottom: 15px;
  font-size: 16px; }

body nav.navbar .container-fluid {
  padding-left: 70px; }

body nav.navbar .container-fluid .navbar-header {
  padding: 15px 10px; }

body .body-content {
  width: 100%; }

body .body-content .panel .panel-heading {
  height: 40px; }

body .body-content .panel .panel-heading .panel-title {
  width: 80%;
  float: left;
  font-size: 20px; }

body .body-content .panel .panel-heading .glyphicon-ok {
  width: 20%;
  text-align: right;
  font-size: 20px;
  color: #76d927; }

body .body-content.current-delivery .main-container {
  width: 100%; }

body .body-content.current-delivery .main-container label.not-found {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

body .body-content.current-delivery .main-container .panel-body {
  padding-top: 0; }

body .body-content.current-delivery .table tr:nth-last-child(1) {
  border: none; }

body .body-content.current-delivery .table tr:nth-last-child(1) td {
  border: none; }

body .body-content .main-container {
  position: relative;
  height: 90vh;
  padding-left: 5%;
  margin-right: 4%; }

body .body-content .main-container .route-panel {
  height: auto; }

body .body-content .main-container .route-panel .row {
  max-height: 50%;
  position: relative; }

body .body-content .main-container .route-panel .row div:nth-child(1) {
  position: relative;
  top: 35px; }

body .body-content .main-container .route-panel .row div.location-dd {
  position: relative;
  top: 22px; }

body .body-content .main-container .route-panel .row div.address {
  top: 10px; }

body .body-content .main-container .route-panel .row div.address textarea {
  max-height: 50px;
  overflow: auto; }

body .body-content .main-container .freight-panel {
  height: auto; }

body .body-content .main-container .freight-panel .label-type {
  top: 12px; }

body .body-content .main-container .freight-panel #typeOfGoods md-radio-button {
  display: inline-block;
  float: left;
  border: 1px solid black;
  padding: 10px 30px; }

body .body-content .main-container .freight-panel #typeOfGoods md-radio-button.md-checked {
  background: darkblue;
  color: #ffffff; }

body .body-content .main-container .freight-panel #typeOfGoods md-radio-button .md-label {
  margin: 0; }

body .body-content .main-container .freight-panel #typeOfGoods md-radio-button .md-container {
  display: none; }

body .body-content .main-container .freight-panel md-input-container label {
  font-weight: 400;
  margin-bottom: 0;
  padding: 0 15px !important; }

body .body-content .main-container .freight-panel md-input-container .md-errors-spacer {
  display: none; }

body .body-content .main-container .freight-panel .cross {
  position: relative;
  top: 25px;
  left: 15px; }

body .body-content .main-container .freight-panel .size-details md-input-container {
  padding-right: 5px;
  padding-left: 5px;
  margin: 10px 0; }

body .body-content .main-container .freight-panel .weight-container .weight-label {
  position: relative;
  top: 25px; }

body .body-content .main-container .freight-panel .weight-container .unit-label {
  position: absolute;
  top: 12px;
  font-size: 15px;
  right: -15px; }

body .body-content .main-container .date-panel {
  height: auto; }

body .body-content .main-container .date-panel .time {
  position: relative;
  top: -20px;
  left: -30px; }

body .g-maps {
  height: 50vh;
  position: relative;
  width: auto; }

body .md-autocomplete-suggestions .flag-img {
  width: 25px; }

body .md-autocomplete-suggestions .result {
  font-size: 20px;
  padding: 2px;
  top: 3px;
  position: relative; }

body .billing-panel {
  margin-top: 10px; }

body .billing-panel .panel-body {
  padding-top: 0; }

body .md-button.md-default-theme:not([disabled]):hover {
  background: #337ab7;
  color: #fff; }
